<div class="container-fliud">
  <div class="row">
    <div class="col-xl-12">
      <section class="criteria p-3">
        <app-criteria (criteria)="onSelectingCriteria($event)"></app-criteria>
      </section>
    </div>
  </div>

  <hr class="m-0"/>

  <div class="row">
    <div class="col-xl-8 pr-0">
      <section class="pl-3 pt-3">
        <app-listing [selectedCriteria]="selectedCriteria"></app-listing>
      </section>
    </div>
    <div class="col-xl-3 border-left">
      <app-movie-summary></app-movie-summary>
    </div>
  </div>
</div>
