<div class="container-fluid h-100 bg">
    <div class="row">
        <div class="col">
            <nav class="navbar border-bottom" data-bs-theme="dark">
                <div class="container-fluid">
                  <span class="navbar-brand mb-0 h1 text-warning">Cinema</span>
                </div>
              </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-3 pt-3">
            <form [formGroup]='searchForm'>
                <div class="form-group mb-3">
                    <label class="form-label">Date Range</label>
                    <input type="text"
                    placeholder="Click here to select"
                    class="form-control"
                    formControlName="dateRange"
                    bsDaterangepicker
                    [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'YYYY-MM-DD'}"
                    >
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Original language</label>
                    <select class="form-select" aria-label="select" placeholder="Select" formControlName="language">
                        <option value="">All</option>
                        <option value="en">English</option>
                        <option value="hi">Hindi</option>
                        <option value="te">Telugu</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Genres</label>
                    <select class="form-select" aria-label="select" placeholder="Select" formControlName="genre">
                        <option value="">All</option>
                        <option value="{{genre.id}}" *ngFor="let genre of genres">{{genre.name}}</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-9 pt-3">
            <div class="d-flex justify-content-center mb-3">
                <small id="emailHelp" class="form-text text-white">Download available only if count <=250.</small>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary me-3">
                    Total Movies <span class="badge text-bg-secondary">{{moviesCount}}</span>
                </button>
                <button type="button" class="btn btn-success" (click)="getAllMoviesInfo()" *ngIf="moviesCount>0 && moviesCount<=250">Download</button>
            </div>
        </div>
    </div>
</div>


